<form [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="form-group">
          <label for="website">Website</label>
          <div class="input-group">
            <input
              formControlName="website"
              class="form-control"
              id="website"
              aria-describedby="websiteHelp"
              placeholder="Enter website"
            />
            <div class="input-group-append">
              <button
                class="btn btn-primary"
                (click)="load()"
                [disabled]="disableLoadSiteButton()"
              >
                Load
              </button>
            </div>
          </div>

          <small id="keyHelp" class="form-text text-muted"
            >The name of your website.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            class="form-control"
            id="password"
            aria-describedby="passwordHelp"
            placeholder="Enter password"
          />
          <small id="keyHelp" class="form-text text-muted"
            >If you forget your password there is no way to recover it</small
          >
        </div>
      </div>
      <div class="row">
        <ul class="nav nav-tabs form-group">
          <!--<li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li> -->
          <li *ngFor="let c of tabbedContent" class="nav-item">
            <a
              class="nav-link {{ activeTabNumber == c.id ? 'active' : '' }}"
              role="button"
              (click)="displayContent(c.id)"
            >
              {{ c.tabName }} <i *ngIf="c.id !== 0" class="bi bi-x-circle"></i
            ></a>
          </li>
          <li class="nav-item" *ngIf="true">
            <a
              *ngIf="!addingTab"
              class="nav-link"
              role="button"
              (click)="startAddNewTab()"
              ><i class="bi bi-plus-circle"> New...</i></a
            >
            <input
              formControlName="newTabName"
              id="newTabName"
              class="form-control"
              type="text"
              placeholder="new tab name..."
              *ngIf="addingTab"
              (change)="leaveTabAdd()"
            />
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="form-group">
          <textarea
            id="plainText"
            formControlName="plainText"
            (change)="onChange()"
            class="form-control"
            rows="10"
            aria-describedby="plainTextHelp"
            placeholder="Plain text will display here"
          ></textarea>
          <small id="plaintTextHelp" class="form-text text-muted"
            >The text you want to encrypt</small
          >
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-lg float-end" (click)="save()">
        Save
      </button>
    </div>
  </div>
</form>
